JWT_SECRET=supersecret
AUTH_MONGO_URI=mongodb://mongo-auth:27017/auth_db
PRODUCT_MONGO_URI=mongodb://mongo-product:27017/product_db
ORDER_MONGO_URI=mongodb://mongo-order:27017/order_db
CART_MONGO_URI=mongodb://mongo-cart:27017/cart_db
